<div class="page__footer-follow" style="text-align: center; margin-bottom: 5px;">

  <a href="https://www.innoq.com" target="_blank" rel="noopener noreferrer nofollow"><img class="supported-by-innoq" src="/images/supported-by-innoq--petrol-apricot.svg"></a><br>

  {% include socials.html %}

</div>

<div class="page__footer-copyright" style="text-align: center;">&copy; {{ site.time | date: '%Y' }} Dr. Gernot Starke.
  Generated {{ site.time | date: '%d %b. %y' }},<br class="mobile">
  supported by <a href="https://perstarke-webdev.de/" target="_blank" rel="noopener noreferrer nofollow"><b>Per Starke Web Development</b></a>.

</div>
