<ul class="socials">

	<li style="margin: 0;"></li>

	<li class="socials__item no-margin" style="margin: 0;">
		<a href="https://github.com/gernotstarke" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="GitHub">
			<i class="fab fa-github" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

	<li class="socials__item">
		<a href="https://www.youtube.com/arc42-video/" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="YouTube">
			<i class="fab fa-youtube" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

	<li class="socials__item">
		<a href="https://dev.to/gernotstarke/" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Dev">
			<i class="fab fa-dev" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

	<li class="socials__item">
		<a href="https://www.instagram.com/doczorg42/" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Instagram">
			<i class="fab fa-instagram" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

	<li class="socials__item">
		<a href="https://www.linkedin.com/in/gernotstarke" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Instagram">
			<i class="fab fa-linkedin" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

	<li class="socials__item">
		<a href="https://www.gernotstarke.de/imprint" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Privacy">
			<i class="fas fa-user-shield" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

	<li class="socials__item">
		<a href="/imprint" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="Impressum & Datenschutz">
			<i class="fas fa-gavel" aria-hidden="true" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
		</a>
	</li>

</ul>