@media (max-width: 600px) {
    .bookcover-max {
        max-width: 250px;
    }
}

.feature-box {
    border: 1px solid #CA2A1D;
    border-radius: 5px;
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
    background: rgba(35, 65, 66, 0.1);
}

.center {
    text-align: center;
}

.indented {
    margin-left: 1em;
}


/*
socials
*/


.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  display: inline-block;
  margin-left: 7px;
}

.no-margin {
  margin-left: 0px;
}

.socials__item__link {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #296D6F;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background: #093C5C;

  }

}


@media (max-width: 767px) {
  .socials__item__link {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
  }
}




/*
footer
*/

.supported-by-innoq {
    width: 110px;
    margin-left: 1vw;
}

.supported-by-innoq:hover {
    opacity: 0.8;
}


@media (max-width: 900px) {
    .supported-by-innoq {
        width: 100px;
        margin-left: 3vw;
    }
}

@media (max-width: 600px) {
    .supported-by-innoq {
        width: 90px;
        margin-left: 3vw;
    }
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .mobile {
    display: block;

  }
}




.trainings-container {
    display: flex;
    align-items: center;
}

.trainings-content {
    width: 66.67%;
}

.trainings-image {
    width: 33.33%;
    text-align: center;
}

.trainings-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1000px) {
    .trainings-container {
        flex-direction: column;
    }

    .trainings-image, .trainings-content {
        width: 100%;
    }

    .trainings-image img {
        max-width: 20%;
        display: block;
        margin: 0 auto;
    }
}
